body{
background-color: wheat;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;

}
header{
    background: linear-gradient( #A0522D, #F5DEB3 );
    display: flex;
justify-content: center;

padding: 30px;

}
footer{
      background: linear-gradient(to top , #A0522D ,  #F5DEB3);
     padding: 30px;
     
}
a{
text-decoration: none;
color: aliceblue;
padding:14px;
border:1px solid#A0522D;
background-color: #A0522D;

}
a:hover{
    text-decoration: underline;
}
main{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}



table {
    width: 70%;
border-collapse: collapse;
margin: auto;
}
th, td, tr{
    padding: 5px;
    border:1px solid #A0522D;
}
#but{
   border:1px solid#A0522D;
background-color: #A0522D; 
    color: aliceblue;
padding:14px;
    font-size: 25px;
}
